.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.course-modal{
    width:900px;
    max-width:95%;
    background:#fff;
    border-radius:12px;
    padding:25px;
    max-height:90vh;
    overflow:auto;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.close-btn{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.full-width{
    grid-column:1/3;
}

.form-group label{
    font-weight:600;
    margin-bottom:8px;
}

.form-group input,
.form-group textarea,
.form-group select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.thumbnail-preview{
    margin-top:20px;
}

.thumbnail-preview img{
    width:250px;
    border-radius:10px;
}

.modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-top:30px;
}

.cancel-btn{
    padding:12px 20px;
    border:none;
    background:#6c757d;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.save-btn{
    padding:12px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

@media(max-width:768px){
    .form-grid{
        grid-template-columns:1fr;
    }

    .full-width{
        grid-column:1;
    }

    .course-modal{
        width:95%;
        padding:20px;
    }
}
