.navbar{

display:flex;

align-items:center;

justify-content:space-between;

padding:18px 30px;

background:white;

box-shadow:0 3px 15px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:100;

gap:20px;

}

.menu-btn{

display:none;

border:none;

background:none;

font-size:24px;

cursor:pointer;

}